<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Cari dan booking dokter berkualitas dimanasaja dan kapansaja. Baca artikel kesehatan gratis. Download dokYAY sekarang!">
		<title>
			dokYAY!
		</title>
		<!--     Fonts and icons     -->
		<link rel="shortcut icon" href="/assets/img/logo/dokyay_logo_big.jpg" type="image/jpg">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/material-dashboard.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/MyFontsWebfontsKit.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/dashboardDokyay.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/quill.snow.css">
		<!--   Core JS Files   -->
		<script src="/assets/js/core/jquery.min.js"></script>
		<script src="/assets/js/core/popper.min.js"></script>
		<script src="/assets/js/core/ejs.js"></script>
		<script src="/assets/js/bootstrap-material-design.js"></script>
	</head>
	<body>
		<div class="wrapper">
	    <div class="sidebar" data-background-color="black">
	        <div class="logo text-center">
	            <a href="/home" class="simple-text logo-normal" target="_blank">
	                <img src="/assets/img/logo/dokyay_logo_main.png" height="25" alt="">
	            </a>
	        </div>
	        <div class="sidebar-wrapper">
	            <div class="user">
	                <div class="photo">
	                    <img src="/assets/img/portraits/img4.jpg">
	                </div>
	                <div class="user-info">
	                    <a data-toggle="collapse" href="#user" class="username">
	                        <span>
	                            Walter White
	                            <b class="caret"></b>
	                        </span>
	                    </a>
	                    <div class="collapse" id="user">
	                        <ul class="nav">
	                            <li class="nav-item">
	                                <a class="nav-link" href="#">
	                                    <span class="sidebar-normal">Profil</span>
	                                </a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" href="#">
	                                    <span class="sidebar-normal">Pengaturan</span>
	                                </a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" href="/home">
	                                    <span class="sidebar-normal">Logout</span>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <ul class="nav">
	                <li class="nav-item ">
	                    <a class="nav-link" href="/admin">
	                        <i class="material-icons">dashboard</i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a class="nav-link" href="/admin">
	                        <i class="material-icons">assessment</i>
	                        <p>Statistika</p>
	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a class="nav-link" href="/admin/pengguna/index">
	                        <i class="material-icons">people</i>
	                        <p>Pengguna</p>
	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a class="nav-link" data-toggle="collapse" href="#artikel" >
	                        <i class="material-icons">art_track</i>
	                        <p>Artikel<b class="caret"></b></p>
	                    </a>
	                    <div class="collapse" id="artikel">
	                    	<ul class="nav">
	                    		<li class="nav-item">
	                    			<a class="nav-link" href="/admin/artikel/index">
	                    				<span class="sidebar-normal">Semua Artikel</span>
	                    			</a>
								</li>
								<li class="nav-item">
	                    			<a class="nav-link" href="/admin/artikel/user">
	                    				<span class="sidebar-normal">Artikel Saya</span>
	                    			</a>
	                    		</li>
								<li class="nav-item">
	                    			<a class="nav-link" href="/admin/artikel/categoryTag">
	                    				<span class="sidebar-normal">Kategori & Tag</span>
	                    			</a>
	                    		</li>
	                    	</ul>
	                    </div>
	                </li>
	                <li class="nav-item ">
	                    <a class="nav-link" href="/admin">
	                        <i class="material-icons">email</i>
	                        <p>Kotak Surat</p>
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>