		<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
			<div class="container">
				<div class="navbar-translate">
					<a class="navbar-brand" href="/home"><img src="/assets/img/logo/dokyay_logo_main.png" height="25" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					<span class="navbar-toggler-icon"></span>
					<span class="navbar-toggler-icon"></span>
				</button>
				</div>
				
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a href="/caridokter" class="nav-link">Cari Dokter</a>
						</li>
						<li class="nav-item">
							<a href="/tentang" class="nav-link">Peta Dokter</a>
						</li>
						<li class="nav-item">
							<a href="/artikel" class="nav-link">Artikel Kesehatan</a>
						</li>
						<li class="nav-item">
							<a href="/ikut" class="nav-link">Daftarkan Praktekmu</a>
						</li>
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								Login/Signup
							</a>
							<div class="dropdown-menu dropdown-with-icons">
								<a href="/loginumum" class="dropdown-item">
									Sebagai Pasien
								</a>
								<a href="/logindokter" class="dropdown-item">
									Sebagai Dokter
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>