<% include ./partials/header %>
	<!-- Full Screen Stuff -->
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/bg/bg1.jpg'); ">
		<div class="container">
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto text-center">
					<h1 class="title">Temukan Dokter Terbaik Tanpa Antri</h1>
					<h4>Lihat ulasan dokter dan booking dimanapun & kapanpun.</h4>
					<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary btn-round">
						Download DokYAY!
					</a>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center">
				
				<!-- App -->
				<div class="features-4">
					<div class="row">
						<div class="col-md-10 ml-auto mr-auto">
							<h2 class="title">Aplikasi dokYAY!</h2>
							<h5 class="description">Kami membuat kesehatan tersedia di genggaman anda. Anda tidak perlu khawatir jatuh sakit saat berpergian ke kota lain.</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-12 ml-auto">
							<div class="info info-horizontal">
								<div class="icon icon-info">
									<i class="material-icons">place</i>
								</div>
								<div class="description">
									<h4 class="info-title">Cari Dokter Terdekat</h4>
									<p>Hindari macet yang melelahkan! Atau anda bepergian? Cari dokter yang terdekat dari lokasi anda. Semua dokter yang ada di dokYAY sudah kami verifikasi.</p>
								</div>
							</div>
							<div class="info info-horizontal">
								<div class="icon icon-primary">
									<i class="material-icons">star</i>
								</div>
								<div class="description">
									<h4 class="info-title">Baca Ulasan Dokter</h4>
									<p>Lihat profil dan ulasan dokter untuk menentukan dokter yang terbaik untuk anda. Semua ulasan dibuat oleh pasien yang terverifikasi.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="phone-container">
								<img src="/assets/img/features/phone.gif">
							</div>
						</div>
						<div class="col-lg-3 col-md-12 mr-auto">
							<div class="info info-horizontal">
								<div class="icon icon-danger">
									<i class="material-icons">today</i>
								</div>
								<div class="description">
									<h4 class="info-title">Booking Doktermu</h4>
									<p>Anda tidak perlu menunggu berjam-jam untuk menemui dokter. Hindari antrian panjang dengan sistem booking kami.</p>
								</div>
							</div>
							<div class="info info-horizontal">
								<div class="icon icon-success">
									<i class="material-icons">notifications</i>
								</div>
								<div class="description">
									<h4 class="info-title">Pengingat Pertemuan</h4>
									<p>Anda tidak akan lupa akan pertemuan dokter karena kami akan mengingatkan anda akan pertemuan anda yang akan datang.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 ml-auto mr-auto text-center">
							<p class="description mt-5">
								<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary btn-round">
									Download DokYAY!
								</a>
							</p>
						</div>
					</div>
				</div>
				
				<!-- Blogs -->
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<h2 class="title">Artikel Kesehatan Terkenal</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card card-raised card-background" style="background-image: url('/assets/img/blogs/img1.jpg')">
							<div class="card-body">
								<h6 class="card-category text-info">Gejala</h6>
								<a href="/contoh">
									<h3 class="card-title">Sakit Perut? Kenali 10 Gejala Kanker!</h3>
								</a>
								<p class="card-description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
								</p>
								<a href="/contoh" class="btn btn-primary btn-round">
									Baca Artikel
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card card-raised card-background" style="background-image: url('/assets/img/blogs/img2.jpg')">
							<div class="card-body">
								<h6 class="card-category text-info">Pencegahan</h6>
								<a href="/contoh">
									<h3 class="card-title">Cara Mencegah Sakit Kepala</h3>
								</a>
								<p class="card-description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
								</p>
								<a href="/contoh" class="btn btn-primary btn-round">
									Baca Artikel
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card card-raised card-background" style="background-image: url('/assets/img/blogs/img3.jpg')">
							<div class="card-body">
								<h6 class="card-category text-info">Pengobatan</h6>
								<a href="/contoh">
									<h3 class="card-title">Cegah Komplikasi! Banyaknya Obat Dengan Efek Samping yang Berbahaya.</h3>
								</a>
								<p class="card-description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
								</p>
								<a href="/contoh" class="btn btn-primary btn-round">
									Baca Artikel
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<a href="/artikel" class="btn btn-primary btn-round">
							Baca Artikel-artikel Kesehatan Lainnya
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3 class="title float-left">Dapatkan Info Kesehatan Terkini</h3>
						<h5 class="description float-left">Kami akan mengirim informasi kesehatan terkini langsung ke email anda</h5>
					</div>
					<div class="col-md-6 align-items-center d-flex">
						<div class="card card-plain card-form-horizontal">
							 <div class="card-body">
							 	<form method="" action="">
							 		<div class="row">
							 			<div class="col-md-8">
							 				<div class="input-group">
							 					<div class="input-group-prepend">
							 						<span class="input-group-text">
							 							<div class="icon icon-primary">
							 								<i class="material-icons">email</i>
							 							</div>
							 						</span>
							 					</div>
							 					<input type="text" class="form-control" placeholder="Email Anda">
							 				</div>
							 			</div>
							 			<div class="col-md-4">
							 				<button type="button" class="btn btn-primary btn-round btn-block">Kirim</button>
							 			</div>
							 		</div>
							 	</form>
							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>