<% include ./partials/header %>
<% include ./partials/navbarSticky %>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <div class="card">
                            <form class="form" method="" action="">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Log in</h4>
                                    <p class="description">Log in dengan media sosial</p>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-facebook-square icon icon-white icon-primary"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-twitter icon icon-white icon-primary"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-google-plus icon icon-primary"></i>
                                    </a>
                                    <p class="description">Log in dengan cara tradisional</p>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email..." required>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password..." required>
                                    </div>
                                    <p class="mt-4">Belum punya akun?<a href="/register">Daftar Sekarang</a></p>
                                    <p>
                                        <a href="/admin" class="btn btn-primary btn-round">Log in</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <footer class="footer">
    		        <div class="col-12 ml-auto mr-auto">
    		            <nav class="float-left">
            				<ul>
            					<li>
            						<a href="/tentang">
            							Tentang Kami
            						</a>
            					</li>
            					<li>
            						<a href="#creative">
            							Blog
            						</a>
            					</li>
            					<li>
            						<a href="/login">
            							Admin
            						</a>
            					</li>
            				</ul>
            			</nav>
            			<div class="copyright float-right">
            				&copy;
            				<script>
            					document.write(new Date().getFullYear())
            				</script>, PT dokYAY Sejahtera.
            			</div>
    		        </div>
        		</footer>
            </div>
        </div>

		<!--   Core JS Files   -->
		<script src="/assets/js/core/jquery.min.js"></script>
		<script src="/assets/js/core/popper.min.js"></script>
		<script src="/assets/js/bootstrap-material-design.js"></script>

		<!-- Plugin for Date Time Picker and Full Calendar Plugin-->
		<script src="/assets/js/plugins/moment.min.js"></script>

		<!-- Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
		<script src="/assets/js/plugins/bootstrap-selectpicker.js"></script>

		<!-- Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
		<script src="/assets/js/plugins/bootstrap-tagsinput.js"></script>

		<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
		<script src="/assets/js/plugins/jasny-bootstrap.min.js"></script>

		<!-- Plugin for Small Gallery in Product Page -->
		<script src="/assets/js/plugins/jquery.flexisel.js"></script>

		<!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
		<script src="/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>

		<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="/assets/js/plugins/nouislider.min.js"></script>

		<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
		<script src="/assets/js/material-kit.js?v=2.0.0"></script>
	</body>
</html>