<% include ./partials/header %>
<% include ./partials/navbarNormal %>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <div class="card">
                            <form class="form" method="" action="">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Registrasi</h4>
                                    <p class="description">Registrasi dengan media sosial</p>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-facebook-square icon icon-white icon-primary"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-twitter icon icon-white icon-primary"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-google-plus icon icon-primary"></i>
                                    </a>
                                    <p class="description">Registrasi dengan cara tradisional</p>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">person</i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nama lengkap anda" required>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email anda" required>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password baru" required>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Ulangi password" required>
                                    </div>
									<div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">wc</i>
                                            </span>
                                        </div>
                                        <select class="form-control" data-size="2" data-style="btn btn-info btn-round" required>
											<option value="male">Laki-laki</option>
											<option value="female">Perempuan</option>
										</select>
                                    </div>
									<div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">cake</i>
                                            </span>
                                        </div>
                                        <input type="input" class="form-control" placeholder="Tanggal Lahir (HH/BB/TTTT)" required>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">verified_user</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Invite Code" required>
                                    </div>
                                    <p class="mt-4">Sudah punya akun?<a href="/login">Login disini</a></p>
                                    <p>
                                        <a href="/admin" class="btn btn-primary btn-round">Register Sekarang</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>
<% include ./partials/footer %>