<% include ../../partials/headerDashboard %>

<div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#pablo">Artikel</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Edit Artikel</h4>
                        </div>
                        <form method="POST" action="/artikel/<%= article.id %>?_method=PUT">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="judulArtikel">Judul Artikel</label>
                                    <input name="title" type="text" class="form-control" id="judulArtikel" value="<%= article.title %>" required>
                                </div>
								<div class="form-group">
                                    <label for="penulisArtikel">Penulis Artikel</label>
                                    <input name="author" type="text" class="form-control" id="penulisArtikel" value="<%= article.author %>" required>
                                </div>
                                <div class="form-group">
									<label for="kategoriArtikel">Kategori Artikel</label>
									<select class="selectpicker" data-style="btn select-with-transition" id="kategoriArtikel" required>
										<option disabled selected>Pilih Kategori</option>
										<option>Jantung</option>
										<option>Kulit</option>
										<option>Anak</option>
										<option>Diet</option>
										<option>Diabetes</option>
										<option>Kecantikan</option>
										<option>Kehamilan</option>
										<option>Mata</option>
										<option>Fitness</option>
									</select>
								</div>
								<div class="form-group">
                                    <label for="deskripsiArtikel">Deskripsi Artikel</label>
                                    <input type="text" class="form-control" id="deskripsiArtikel" value="LALALLALA" required>
                                </div>
                                <div class="form-group">
                                    <label for="kontenArtikel">Konten Artikel</label>
                                    <input name="body" type="hidden" id="kontenArtikel" required>
                                    <div id="editor-container">
										<%- article.body %>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label for="tagArtikel">Tag Artikel</label>
                                    <input type="text" class="tagsinput form-control" id="tagArtikel" data-color="primary" value="Pencegahan, Pengobatan" required>
                                    <small class="form-text text-muted">Tambah tag dengan menekan <em>enter</em> sekali.</small>
                                </div>
								<p class="text-muted">Background Artikel</p>
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail img-raised">
										<img src="/assets/img/blogs/image_placeholder.jpg" alt="...">
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
									<div>
										<span class="btn btn-raised btn-primary btn-file">
											<span class="fileinput-new">Pilih foto</span>
											<span class="fileinput-exists">Change</span>
											<input type="file" name="...">
										</span>
										<a href="#pablo" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">
										<i class="fa fa-times"></i> Remove</a>
									</div>
								</div>
                            </div>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-primary">Simpan Perubahan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quill Text Editor -->
<script src="/assets/js/plugins/quill.js"></script>
<script>
	var quill = new Quill('#editor-container', {
		modules: {
			toolbar: [[{ header: [3, false] }],['bold', 'italic', 'underline'],[{ 'list': 'ordered'}, { 'list': 'bullet' }],['blockquote','link'],['image','video']]
		},
		placeholder: 'Ketik teksmu disini...',
		theme: 'snow'
	});
	
	var form = document.querySelector('form');
	form.onsubmit = function() {
		var content = document.querySelector('input[id=kontenArtikel]');
		content.value = document.querySelector('.ql-editor').innerHTML;
	}
	
</script>

<% include ../../partials/footerDashboard %>