<% include ./partials/header %>
	<!-- Full Screen Stuff -->
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/bg/bg1.jpg'); ">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h2 class="title">Mencari Dokter Tidak Harus Sulit</h2>
					<h4>Mengapa dan bagaimana kami menolong anda.</h4>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="main main-raised">
		<div class="container">
			<div class="section section-text">
				<div class="col-md-8 ml-auto mr-auto">
					<div class="row">
						<h3 class="title">Kesulitan Dalam Menemui Dokter</h3>
						<div class="blockquote undefined container-fluid">
							<p>
								"Bayangkan anda tiba-tiba sakit. Dan anda tidak tahu mesti kemana untuk mencari pengobatan. Anda harus mencari tahu informasi tentang dokter yang bagus melalui orang yang anda kenal, dan anda hanya tahu informasi yang terbatas.
							</p>
							<p>
								Dokter yang terkenal pun sangatlah ramai. Anda harus menunggu berhari-hari untuk mendapat perawatan, atau berjam-jam apabila anda beruntung."
							</p>
							<small>
								- Masa lalu
							</small>
						</div>
					</div>
					<div class="row">
						<h3 class="title">Pengobatan itu Seharusnya Mudah</h3>
						<h5>
							Zaman sudah berubah. Anda tidak perlu mengalami kesulitan masa lalu dalam mencari dokter dengan bantuan kami. Kami membuat informasi tentang praktik dokter terdekat tersedia dalam genggaman anda. Setelah anda menemukan dan mempelajari dokter yang anda inginkan, anda dapat melihat kapan dokternya tersedia dan pakai fitur booking online kami.
						</h5>
					</div>
					<div class="row text-center">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-info">
									<i class="material-icons">place</i>
								</div>
								<h4 class="info-title">Cari Dokter Terdekat</h4>
								<p>Hindari macet yang melelahkan! Atau anda bepergian? Cari dokter yang terdekat dari lokasi anda. Semua dokter yang ada di dokYAY sudah kami verifikasi.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-primary">
									<i class="material-icons">star</i>
								</div>
								<h4 class="info-title">Baca Ulasan Dokter</h4>
								<p>Lihat profil dan ulasan dokter untuk menentukan dokter yang terbaik untuk anda. Semua ulasan dibuat oleh pasien yang terverifikasi.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-danger">
									<i class="material-icons">today</i>
								</div>
								<h4 class="info-title">Booking Doktermu</h4>
								<p>Anda tidak perlu menunggu berjam-jam untuk menemui dokter. Hindari antrian panjang dengan sistem booking kami.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<h3 class="title">Inovasi Masa Depan</h3>
						<h5>
							Aplikasi ini bukan akhir dari proyek kami untuk memudahkan anda lebih sehat. Proyek kami belum sempurna dan kami akan terus menciptakan inovasi kesehatan untuk anda.
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>