<!DOCTYPE html>
<html lang="en">
<% include ./partials/header %>
<body class="signup-page">
	<% include ./partials/navbarNormal %>
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto">
					<div class="wizard-container">
						<div class="card card-wizard" id="wizardProfile">
							<form action="" method="">
								<!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
								<div class="card-header card-header-success text-center">
									<h3 class="card-title">
										Registrasi Dokter
									</h3>
									<h5 class="card-description">Kami akan menolong anda membuat profil anda dengan mudah</h5>
									<div class="wizard-navigation">
										<ul class="nav nav-pills d-flex justify-content-center">
											<li class="nav-item">
												<a class="nav-link active" href="#informasiDasar" data-toggle="tab" role="tab">
													Informasi Dasar
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#keahlian" data-toggle="tab" role="tab">
													Keahlian
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#akun" data-toggle="tab" role="tab">
													Akun
												</a>
											</li>
										</ul>
									</div>
								</div>
								
								<div class="card-body">
									<div class="tab-content">
										<div class="tab-pane active" id="informasiDasar">
											<div class="row">
												<div class="col-lg-12 mt-3">
													<p class="info-text">Mari mulai dengan informasi dasar</p>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<label for="namaLengkap">Nama Lengkap</label>
														<input type="text" class="form-control" id="namaLengkap" name="name" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label for="tanggalLahir">Tanggal Lahir <em>(HH/BB/TTTT)</em></label>
														<input type="text" class="form-control datepicker" id="tanggalLahir" name="birthDate" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label for="jenisKelamin">Jenis Kelamin</label>
														<select class="form-control" id="jenisKelamin" required>
															<option value="male">Laki-laki</option>
															<option value="female">Perempuan</option>
														</select>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<label for="alamat">Alamat</label>
														<textarea class="form-control" id="alamat" rows="3" required></textarea>
													</div>
												</div>
											</div>
										</div>
										
										<div class="tab-pane" id="keahlian">
											<div class="row">
												<div class="col-lg-12 mt-3">
													<p class="info-text">Beri tahu tentang keahlian anda</p>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<label for="spesialisasi">Spesialisasi Utama</label>
														<select class="form-control" data-size="10" id="spesialisasi" required>
															<option value="umum">Umum</option>
															<option value="anak">Anak</option>
															<option value="gigi">Gigi</option>
															<option value="kandungan">Kandungan</option>
															<option value="kecantikan">Kecantikan</option>
															<option value="psikiater">Psikiater</option>
															<option value="kulitKelamin">Kulit & Kelamin</option>
															<option value="mata">Mata</option>
															<option value="tht">THT</option>
															<option value="internis">Internis</option>
															<option value="paru">Paru-paru</option>
															<option value="saraf">Saraf</option>
															<option value="lain">Lainnya</option>
														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label for="str">Nomor STR KKI</label>
														<input name="name" type="number" min="0" class="form-control" id="str" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label for="berlakuSampai">Berlaku Sampai <em>(HH/BB/TTTT)</em></label>
														<input type="text" class="form-control datepicker" id="berlakuSampai" name="validUntil" required>
													</div>
												</div>
											</div>
										</div>
										
										<div class="tab-pane" id="akun">
											<div class="row">
												<div class="col-lg-12 mt-3">
													<p class="info-text">Buat akun anda!</p>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<label for="email">Email</label>
														<input type="email" class="form-control" id="email" name="email" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label for="password">Password</label>
														<input type="password" class="form-control" id="password" name="password" autocomplete="off" required>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label for="passwordRepeat">Ulangi Password</label>
														<input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" autocomplete="off" required>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="card-footer">
									<div class="mr-auto">
										<input type="button" class="btn btn-previous btn-default btn-round disabled" name="previous" value="Kembali">
									</div>
									<div class="ml-auto">
										<input type="button" class="btn btn-next btn-primary btn-round" name="next" value="Lanjut">
										<input type="button" class="btn btn-finish btn-primary btn-round" name="finish" value="Selesai" style="display: none;">
									</div>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
	<!-- Forms Validations Plugin -->
	<script src="/assets/js/plugins/jquery.validate.min.js"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script src="/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
	<script src="/assets/js/registerDokter.js"></script>
	<script type="text/javascript">
		$('.datepicker').datetimepicker({
			format: 'DD/MM/YYYY',
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-chevron-up",
				down: "fa fa-chevron-down",
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-screenshot',
				clear: 'fa fa-trash',
				close: 'fa fa-remove'
			}
		});
	</script>
</body>
</html>