<% include ../../partials/headerDashboard %>

<div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#pablo">Profil Pengguna</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-header card-header-image">
							<img class="img" src="/assets/img/portraits/img4.jpg">
						</div>
						<div class="card-body ">
							<h4 class="card-title">Alec Thompson</h4>
							<h6 class="card-category">Informasi Dasar</h6>
							<p class="card-description">
								Jenis Kelamin: Laki-laki
							</p>
							<p class="card-description">
								Tanggal Lahir: 23 Januari 1890
							</p>
							<p class="card-description">
								Email: athompson@gmail.com
							</p>
							<p class="card-description">
								<a href="#" class="btn btn-default">Edit</a>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-9">
					<div class="card">
						<div class="card-header card-header-icon card-header-rose">
							<div class="card-icon">
								<i class="material-icons">person</i>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">Informasi Dokter</h4>
							<h6 class="card-description">
								Spesialisasi:
							</h6>
							<div class="row">
								<div class="col-md-6">
									<div class="card bg-info">
										<div class="card-body">
											<p class="card-description"><strong>Umum</strong></p>
											<p class="card-description">STR KKI: 98759791234</p>
											<p class="card-description">Berlaku Sampai: Januari 2018</p>
											<p class="card-description">Terverifikasi: Iya</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card bg-info">
										<div class="card-body">
											<p class="card-description"><strong>Anak</strong></p>
											<p class="card-description">STR KKI: 98759791234</p>
											<p class="card-description">Berlaku Sampai: September 2023</p>
											<p class="card-description">Terverifikasi: Iya</p>
										</div>
									</div>
								</div>
							</div>
							<h6 class="card-description">
								Edukasi:
							</h6>
							<div class="row">
								<div class="col-md-6">
									<p class="card-description"><strong>Sekolah Pelita Harapan</strong></p>
									<p class="card-description">Gelar: Kedokteran</p>
									<p class="card-description">Lulusan: 2013</p>
								</div>
							</div>
							<h6 class="card-description">
								Keanggotaan Profesional:
							</h6>
							<p class="card-description">Ikatan Dokter Indonesia</p>
							<h6 class="card-description">
								Bahasa:
							</h6>
							<p class="card-description">Indonesia, Rusia, Jepang, Inggris</p>
							<h6 class="card-description">
								Pernyataan Profesional:
							</h6>
							<p class="card-description">Dr. Moizah Saad is a skilled and caring internist serving the community of Walnut Creek, CA. Dr. Saad attended Des Moines University, where she received her medical degree. She completed her internship and residency at the University of Connecticut. Dr. Saad is a part of John Muir Health and is board certified by the American Board of Internal Medicine. She is also affiliated with John Muir Medical Center, Walnut Creek Campus in Walnut Creek, CA. She welcomes patients who speak English, Hindi, and Urdu. Her awareness of these different languages makes her accessible to patients from a variety of cultural backgrounds. She gives each patient her focused attention, and she prides herself on delivering the best treatment available.
 Dr. Saad is devoted to ensuring the longevity of her patients’ health and developing long-lasting relationships with them. She takes her time to understand symptoms and give correct diagnoses to ensure the continued health of all her patients</p>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<h6 class="card-description">
										Berlangganan:
									</h6>
									<p class="card-description">Iya</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Aktif:
									</h6>
									<p class="card-description">Iya</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Log-in Terakhir:
									</h6>
									<p class="card-description">6 hari lalu</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Pengguna Sejak:
									</h6>
									<p class="card-description">5 Januari 2009</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Jumlah Reservasi:
									</h6>
									<p class="card-description">24</p>
								</div>
								<div class="col-md-12">
									<a href="#" class="btn btn-primary">Lihat Sejarah Reservasi</a>
									<a href="#" class="btn btn-default">Edit</a>
								</div>
							</div>
							<hr>
							<h6 class="card-description">
								Review Pasien:
							</h6>
							<div class="row">
								<div class="col-md-12">
									<div class="card bg-success">
										<div class="card-body">
											<p class="card-description"><strong>Semua Review (3)</strong></p>
											<div class="row">
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Keseluruhan:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Profesionalisme:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Ketepatan Waktu:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card bg-info">
										<div class="card-body">
											<p class="card-description"><strong>K. Lange</strong></p>
											<div class="row">
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Keseluruhan:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Profesionalisme:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Ketepatan Waktu:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></p>
												</div>
											</div>
											<p class="card-description">wonderfully knowledgeable, holistic, friendly. You can feel his integrity and caring right away.</p>
											<small class="text-muted">Ditulis: 2 Maret 2018, Pasien Terverifikasi</small>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card bg-info">
										<div class="card-body">
											<p class="card-description"><strong>Matthew Billy</strong></p>
											<div class="row">
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Keseluruhan:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Profesionalisme:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Ketepatan Waktu:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></p>
												</div>
											</div>
											<p class="card-description">wonderfully knowledgeable, holistic, friendly. You can feel his integrity and caring right away.</p>
											<small class="text-muted">Ditulis: 2 Maret 2018, Pasien Terverifikasi</small>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card bg-info">
										<div class="card-body">
											<p class="card-description"><strong>(Pasien Rahasia)</strong></p>
											<div class="row">
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Keseluruhan:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Profesionalisme:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
												</div>
												<div class="col-md-4">
													<p class="card-description d-flex items-align-center">Ketepatan Waktu:</p>
													<p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></p>
												</div>
											</div>
											<p class="card-description">wonderfully knowledgeable, holistic, friendly. You can feel his integrity and caring right away.</p>
											<small class="text-muted">Ditulis: 2 Maret 2018, Pasien Terverifikasi</small>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<a href="#" class="btn btn-primary">Lihat Semua</a>
									<a href="#" class="btn btn-default">Lihat Statistik</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header card-header-image">
									<img class="img" src="/assets/img/places/img1.jpg">
								</div>
								<div class="card-body ">
									<h4 class="card-title">Rumah Sakit Husada</h4>
									<h6 class="card-description">
										Praktik
									</h6>
									<p class="card-description">Dokter Anak</p>
									<h6 class="card-description">
										Lokasi:
									</h6>
									<p class="card-description">Jl. Hayam Wuruk No. 42 DKI Jakarta</p>
									<h6 class="card-description">
										Jam Praktik:
									</h6>
									<p class="card-description">Selasa - Kamis, 9:00 - 5:00</p>
									<a href="#" class="btn btn-primary">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header card-header-image">
									<img class="img" src="/assets/img/places/img3.jpg">
								</div>
								<div class="card-body ">
									<h4 class="card-title">Praktik Pribadi</h4>
									<h6 class="card-description">
										Praktik
									</h6>
									<p class="card-description">Dokter Umum</p>
									<h6 class="card-description">
										Lokasi:
									</h6>
									<p class="card-description">Jl. Hayam Wuruk No. 42 DKI Jakarta</p>
									<h6 class="card-description">
										Jam Praktik:
									</h6>
									<p class="card-description">Selasa - Kamis, 9:00 - 5:00</p>
									<a href="#" class="btn btn-primary">Lihat Detail</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="card">
						<div class="card-header card-header-icon card-header-rose">
							<div class="card-icon">
								<i class="material-icons">language</i>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">Informasi Pasien</h4>
							<div class="row">
								<div class="col-md-6">
									<h6 class="card-description">
										Alamat Tinggal:
									</h6>
									<p class="card-description">Jl. Raya Kuta No. 54 Bali 80361, Indonesia</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Nomor HP:
									</h6>
									<p class="card-description">02472983098</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Pekerjaan:
									</h6>
									<p class="card-description">Meth Dealer</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Kewarganegaraan:
									</h6>
									<p class="card-description">Indonesia</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Status Perkawinan:
									</h6>
									<p class="card-description">Duda</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Pendidikan Terakhir:
									</h6>
									<p class="card-description">Sarjana</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Agama:
									</h6>
									<p class="card-description">Islam</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<h6 class="card-description">
										Aktif:
									</h6>
									<p class="card-description">Iya</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Log-in Terakhir:
									</h6>
									<p class="card-description">6 hari lalu</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Reservasi Terakhir:
									</h6>
									<p class="card-description">5 Maret 2017</p>
								</div>
								<div class="col-md-6">
									<h6 class="card-description">
										Pengguna Sejak:
									</h6>
									<p class="card-description">5 Januari 2009</p>
								</div>
								<div class="col-md-12">
									<a href="#" class="btn btn-primary">Lihat Sejarah Reservasi</a>
									<a href="#" class="btn btn-default">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../../partials/footerDashboard %>