<% include ../../partials/headerDashboard %>

<div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#pablo">Pengguna Baru</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon card-header-rose">
							<div class="card-icon">
								<i class="material-icons">person</i>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">Informasi Dasar</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="nama">Nama Lengkap</label>
										<input name="name" type="text" class="form-control" id="nama" required>
									</div>
									<div class="form-group">
										<label for="email">Email</label>
										<input name="email" type="email" class="form-control" id="email" required>
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input name="password" type="password" class="form-control" id="password" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="kelamin">Jenis Kelamin</label>
										<select class="selectpicker" data-size="2" data-style="btn btn-info btn-round" id="kelamin" required>
											<option value="male">Laki-laki</option>
											<option value="female">Perempuan</option>
										</select>
									</div>
									<div class="form-group">
										<label for="tanggalLahir">Tanggal Lahir</label>
										<input type="text" class="form-control datepicker" value="10/05/2016" id="tanggalLahir" required>
										<small class="form-text text-muted">Format: HH/BB/TTTT</small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<label>Foto Profil</label>
										<div class="fileinput-new thumbnail">
											<img src="/assets/img/blogs/image_placeholder.jpg" alt="...">
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail"></div>
										<div>
											<span class="btn btn-info btn-round btn-file">
												<span class="fileinput-new">Upload Foto</span>
												<span class="fileinput-exists">Ganti Foto</span>
												<input type="file" name="..." />
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon card-header-rose">
							<div class="card-icon">
								<i class="material-icons">person</i>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">Informasi Dokter</h4>
							<div class="togglebutton mt-3 mb-3">
								<label>
									<input type="checkbox" data-toggle="collapse" data-target="#formDokter" aria-expanded="false" aria-controls="formDokter">
									<span class="toggle"></span>
									Profil Dokter
								</label>
							</div>
							<div class="collapse" id="formDokter">
								<h6 class="card-description">Spesialisasi:</h6>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="spesialisasi">Spesialisasi 1</label>
											<select class="selectpicker" data-size="10" data-style="btn btn-info btn-round" id="spesialisasi">
												<option value="umum">Umum</option>
												<option value="anak">Anak</option>
												<option value="gigi">Gigi</option>
												<option value="kandungan">Kandungan</option>
												<option value="kecantikan">Kecantikan</option>
												<option value="psikiater">Psikiater</option>
												<option value="kulitKelamin">Kulit & Kelamin</option>
												<option value="mata">Mata</option>
												<option value="tht">THT</option>
												<option value="internis">Internis</option>
												<option value="paru">Paru-paru</option>
												<option value="saraf">Saraf</option>
												<option value="lain">Lainnya</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="str">Nomor STR KKI 1</label>
											<input name="name" type="number" min="0" class="form-control" id="str">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="berlaku">Berlaku S/D</label>
											<input name="name" type="text" class="form-control" id="berlaku">
											<small class="form-text text-muted">Format: HH/BB/TTTT</small>
										</div>
									</div>
									<div class="col-md-3 d-flex align-items-center">
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" value="">
												Terverifikasi
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
											</label>
										</div>
									</div>
									<div class="col-md-3 d-flex align-items-center justify-content-end">
										<button class="btn btn-primary btn-fab btn-round" id="tambahSpesialisasi">
											<i class="material-icons">add</i>
										</button>
									</div>
								</div>
								<h6 class="card-description">Edukasi:</h6>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="namaSekolah">Nama Sekolah 1</label>
											<input name="name" type="text" class="form-control" id="namaSekolah">
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label for="lulusSekolah">Tanggal Lulus 1</label>
											<input name="name" type="text" class="form-control" id="lulusSekolah">
										</div>
									</div>
									<div class="col-md-1 d-flex align-items-center justify-content-end">
										<a class="btn btn-primary btn-fab btn-round" href="#" id="tambahSekolah">
											<i class="material-icons">add</i>
										</a>
									</div>
								</div>
								<h6 class="card-description">Keanggotaan Profesional:</h6>
								<div class="row">
									<div class="col-md-11">
										<div class="form-group">
											<label for="organisasi">Nama Organisasi 1:</label>
											<input name="name" type="text" class="form-control" id="organisasi">
										</div>
									</div>
									<div class="col-md-1 d-flex align-items-center justify-content-end">
										<a class="btn btn-primary btn-fab btn-round" href="#" id="tambahOrganisasi">
											<i class="material-icons">add</i>
										</a>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<label for="pernyataan">Pernyataan Profesional</label>
									<textarea class="form-control" id="pernyataan" rows="3"></textarea>
								</div>
								<div class="form-group">
									<label for="bahasa">Bahasa</label>
									<input type="text" class="tagsinput form-control" id="bahasa" data-color="primary" value="Indonesia">
									<small class="form-text text-muted">Tambah bahasa dengan menekan <em>enter</em> sekali.</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon card-header-rose">
							<div class="card-icon">
								<i class="material-icons">person</i>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">Informasi Pasien</h4>
							<div class="togglebutton mb-3 mt-3">
								<label>
									<input type="checkbox" data-toggle="collapse" data-target="#formPasien" aria-expanded="false" aria-controls="formPasien">
									<span class="toggle"></span>
									Profil Pasien
								</label>
							</div>
							<div class="collapse" id="formPasien">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="alamat">Alamat</label>
											<textarea class="form-control" id="alamat" rows="3"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="telepon">Nomor HP</label>
											<input name="name" type="number" min="0" class="form-control" id="telepon">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="pekerjaan">Pekerjaan</label>
											<input name="name" type="text" class="form-control" id="pekerjaan">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="warga">Kewarganegaraan</label>
											<select class="selectpicker" data-size="10" data-style="btn btn-info btn-round" id="warga">
												<option value="AF">Afghanistan</option>
												<option value="AX">Åland Islands</option>
												<option value="AL">Albania</option>
												<option value="DZ">Algeria</option>
												<option value="AS">American Samoa</option>
												<option value="AD">Andorra</option>
												<option value="AO">Angola</option>
												<option value="AI">Anguilla</option>
												<option value="AQ">Antarctica</option>
												<option value="AG">Antigua and Barbuda</option>
												<option value="AR">Argentina</option>
												<option value="AM">Armenia</option>
												<option value="AW">Aruba</option>
												<option value="AU">Australia</option>
												<option value="AT">Austria</option>
												<option value="AZ">Azerbaijan</option>
												<option value="BS">Bahamas</option>
												<option value="BH">Bahrain</option>
												<option value="BD">Bangladesh</option>
												<option value="BB">Barbados</option>
												<option value="BY">Belarus</option>
												<option value="BE">Belgium</option>
												<option value="BZ">Belize</option>
												<option value="BJ">Benin</option>
												<option value="BM">Bermuda</option>
												<option value="BT">Bhutan</option>
												<option value="BO">Bolivia, Plurinational State of</option>
												<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
												<option value="BA">Bosnia and Herzegovina</option>
												<option value="BW">Botswana</option>
												<option value="BV">Bouvet Island</option>
												<option value="BR">Brazil</option>
												<option value="IO">British Indian Ocean Territory</option>
												<option value="BN">Brunei Darussalam</option>
												<option value="BG">Bulgaria</option>
												<option value="BF">Burkina Faso</option>
												<option value="BI">Burundi</option>
												<option value="KH">Cambodia</option>
												<option value="CM">Cameroon</option>
												<option value="CA">Canada</option>
												<option value="CV">Cape Verde</option>
												<option value="KY">Cayman Islands</option>
												<option value="CF">Central African Republic</option>
												<option value="TD">Chad</option>
												<option value="CL">Chile</option>
												<option value="CN">China</option>
												<option value="CX">Christmas Island</option>
												<option value="CC">Cocos (Keeling) Islands</option>
												<option value="CO">Colombia</option>
												<option value="KM">Comoros</option>
												<option value="CG">Congo</option>
												<option value="CD">Congo, the Democratic Republic of the</option>
												<option value="CK">Cook Islands</option>
												<option value="CR">Costa Rica</option>
												<option value="CI">Côte d'Ivoire</option>
												<option value="HR">Croatia</option>
												<option value="CU">Cuba</option>
												<option value="CW">Curaçao</option>
												<option value="CY">Cyprus</option>
												<option value="CZ">Czech Republic</option>
												<option value="DK">Denmark</option>
												<option value="DJ">Djibouti</option>
												<option value="DM">Dominica</option>
												<option value="DO">Dominican Republic</option>
												<option value="EC">Ecuador</option>
												<option value="EG">Egypt</option>
												<option value="SV">El Salvador</option>
												<option value="GQ">Equatorial Guinea</option>
												<option value="ER">Eritrea</option>
												<option value="EE">Estonia</option>
												<option value="ET">Ethiopia</option>
												<option value="FK">Falkland Islands (Malvinas)</option>
												<option value="FO">Faroe Islands</option>
												<option value="FJ">Fiji</option>
												<option value="FI">Finland</option>
												<option value="FR">France</option>
												<option value="GF">French Guiana</option>
												<option value="PF">French Polynesia</option>
												<option value="TF">French Southern Territories</option>
												<option value="GA">Gabon</option>
												<option value="GM">Gambia</option>
												<option value="GE">Georgia</option>
												<option value="DE">Germany</option>
												<option value="GH">Ghana</option>
												<option value="GI">Gibraltar</option>
												<option value="GR">Greece</option>
												<option value="GL">Greenland</option>
												<option value="GD">Grenada</option>
												<option value="GP">Guadeloupe</option>
												<option value="GU">Guam</option>
												<option value="GT">Guatemala</option>
												<option value="GG">Guernsey</option>
												<option value="GN">Guinea</option>
												<option value="GW">Guinea-Bissau</option>
												<option value="GY">Guyana</option>
												<option value="HT">Haiti</option>
												<option value="HM">Heard Island and McDonald Islands</option>
												<option value="VA">Holy See (Vatican City State)</option>
												<option value="HN">Honduras</option>
												<option value="HK">Hong Kong</option>
												<option value="HU">Hungary</option>
												<option value="IS">Iceland</option>
												<option value="IN">India</option>
												<option value="ID">Indonesia</option>
												<option value="IR">Iran, Islamic Republic of</option>
												<option value="IQ">Iraq</option>
												<option value="IE">Ireland</option>
												<option value="IM">Isle of Man</option>
												<option value="IL">Israel</option>
												<option value="IT">Italy</option>
												<option value="JM">Jamaica</option>
												<option value="JP">Japan</option>
												<option value="JE">Jersey</option>
												<option value="JO">Jordan</option>
												<option value="KZ">Kazakhstan</option>
												<option value="KE">Kenya</option>
												<option value="KI">Kiribati</option>
												<option value="KP">Korea, Democratic People's Republic of</option>
												<option value="KR">Korea, Republic of</option>
												<option value="KW">Kuwait</option>
												<option value="KG">Kyrgyzstan</option>
												<option value="LA">Lao People's Democratic Republic</option>
												<option value="LV">Latvia</option>
												<option value="LB">Lebanon</option>
												<option value="LS">Lesotho</option>
												<option value="LR">Liberia</option>
												<option value="LY">Libya</option>
												<option value="LI">Liechtenstein</option>
												<option value="LT">Lithuania</option>
												<option value="LU">Luxembourg</option>
												<option value="MO">Macao</option>
												<option value="MK">Macedonia, the former Yugoslav Republic of</option>
												<option value="MG">Madagascar</option>
												<option value="MW">Malawi</option>
												<option value="MY">Malaysia</option>
												<option value="MV">Maldives</option>
												<option value="ML">Mali</option>
												<option value="MT">Malta</option>
												<option value="MH">Marshall Islands</option>
												<option value="MQ">Martinique</option>
												<option value="MR">Mauritania</option>
												<option value="MU">Mauritius</option>
												<option value="YT">Mayotte</option>
												<option value="MX">Mexico</option>
												<option value="FM">Micronesia, Federated States of</option>
												<option value="MD">Moldova, Republic of</option>
												<option value="MC">Monaco</option>
												<option value="MN">Mongolia</option>
												<option value="ME">Montenegro</option>
												<option value="MS">Montserrat</option>
												<option value="MA">Morocco</option>
												<option value="MZ">Mozambique</option>
												<option value="MM">Myanmar</option>
												<option value="NA">Namibia</option>
												<option value="NR">Nauru</option>
												<option value="NP">Nepal</option>
												<option value="NL">Netherlands</option>
												<option value="NC">New Caledonia</option>
												<option value="NZ">New Zealand</option>
												<option value="NI">Nicaragua</option>
												<option value="NE">Niger</option>
												<option value="NG">Nigeria</option>
												<option value="NU">Niue</option>
												<option value="NF">Norfolk Island</option>
												<option value="MP">Northern Mariana Islands</option>
												<option value="NO">Norway</option>
												<option value="OM">Oman</option>
												<option value="PK">Pakistan</option>
												<option value="PW">Palau</option>
												<option value="PS">Palestinian Territory, Occupied</option>
												<option value="PA">Panama</option>
												<option value="PG">Papua New Guinea</option>
												<option value="PY">Paraguay</option>
												<option value="PE">Peru</option>
												<option value="PH">Philippines</option>
												<option value="PN">Pitcairn</option>
												<option value="PL">Poland</option>
												<option value="PT">Portugal</option>
												<option value="PR">Puerto Rico</option>
												<option value="QA">Qatar</option>
												<option value="RE">Réunion</option>
												<option value="RO">Romania</option>
												<option value="RU">Russian Federation</option>
												<option value="RW">Rwanda</option>
												<option value="BL">Saint Barthélemy</option>
												<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
												<option value="KN">Saint Kitts and Nevis</option>
												<option value="LC">Saint Lucia</option>
												<option value="MF">Saint Martin (French part)</option>
												<option value="PM">Saint Pierre and Miquelon</option>
												<option value="VC">Saint Vincent and the Grenadines</option>
												<option value="WS">Samoa</option>
												<option value="SM">San Marino</option>
												<option value="ST">Sao Tome and Principe</option>
												<option value="SA">Saudi Arabia</option>
												<option value="SN">Senegal</option>
												<option value="RS">Serbia</option>
												<option value="SC">Seychelles</option>
												<option value="SL">Sierra Leone</option>
												<option value="SG">Singapore</option>
												<option value="SX">Sint Maarten (Dutch part)</option>
												<option value="SK">Slovakia</option>
												<option value="SI">Slovenia</option>
												<option value="SB">Solomon Islands</option>
												<option value="SO">Somalia</option>
												<option value="ZA">South Africa</option>
												<option value="GS">South Georgia and the South Sandwich Islands</option>
												<option value="SS">South Sudan</option>
												<option value="ES">Spain</option>
												<option value="LK">Sri Lanka</option>
												<option value="SD">Sudan</option>
												<option value="SR">Suriname</option>
												<option value="SJ">Svalbard and Jan Mayen</option>
												<option value="SZ">Swaziland</option>
												<option value="SE">Sweden</option>
												<option value="CH">Switzerland</option>
												<option value="SY">Syrian Arab Republic</option>
												<option value="TW">Taiwan, Province of China</option>
												<option value="TJ">Tajikistan</option>
												<option value="TZ">Tanzania, United Republic of</option>
												<option value="TH">Thailand</option>
												<option value="TL">Timor-Leste</option>
												<option value="TG">Togo</option>
												<option value="TK">Tokelau</option>
												<option value="TO">Tonga</option>
												<option value="TT">Trinidad and Tobago</option>
												<option value="TN">Tunisia</option>
												<option value="TR">Turkey</option>
												<option value="TM">Turkmenistan</option>
												<option value="TC">Turks and Caicos Islands</option>
												<option value="TV">Tuvalu</option>
												<option value="UG">Uganda</option>
												<option value="UA">Ukraine</option>
												<option value="AE">United Arab Emirates</option>
												<option value="GB">United Kingdom</option>
												<option value="US">United States</option>
												<option value="UM">United States Minor Outlying Islands</option>
												<option value="UY">Uruguay</option>
												<option value="UZ">Uzbekistan</option>
												<option value="VU">Vanuatu</option>
												<option value="VE">Venezuela, Bolivarian Republic of</option>
												<option value="VN">Viet Nam</option>
												<option value="VG">Virgin Islands, British</option>
												<option value="VI">Virgin Islands, U.S.</option>
												<option value="WF">Wallis and Futuna</option>
												<option value="EH">Western Sahara</option>
												<option value="YE">Yemen</option>
												<option value="ZM">Zambia</option>
												<option value="ZW">Zimbabwe</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="kawin">Status Perkawinan</label>
											<select class="selectpicker" data-size="3" data-style="btn btn-info btn-round" id="kawin">
												<option value="belumMenikah">Belum Menikah</option>
												<option value="menikah">Menikah</option>
												<option value="jandaDuda">Janda/Duda</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="pendidikan">Pendidikan Terakhir</label>
											<select class="selectpicker" data-size="5" data-style="btn btn-info btn-round" id="pendidikan">
												<option value="sd">SD</option>
												<option value="smp">SMP</option>
												<option value="smaSmk">SMA/SMK</option>
												<option value="s1">S1</option>
												<option value="s23">S2/S3</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon card-header-rose">
							<div class="card-icon">
								<i class="material-icons">person</i>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">Informasi Lain</h4>
							<div class="togglebutton mb-3 mt-3">
								<label>
									<input type="checkbox">
									<span class="toggle"></span>
									Akses Admin
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<button type="submit" class="btn btn-fill btn-primary">Buat Profil baru</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#tambahSpesialisasi").click(function(e){
			console.log("tambahSpesialisasi");
			e.preventDefault();
			
		});
	});
</script>

<% include ../../partials/footerDashboard %>