<!-- Nav -->
<div class="row d-flex align-items-center">
	<div class="col-md-8 d-inline-flex align-items-center">
		<a class="btn btn-fab btn-primary btn-round"  href="/artikel">
			<i class="material-icons">home</i>
		</a>
		<ul class="nav nav-pills nav-pills-primary">
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "index"){ %>
						active
					<% } %>
				" href="/artikel/index">Semua</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "jantung"){ %>
						active
					<% } %>
				" href="/artikel/index">Jantung</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "kulit"){ %>
						active
					<% } %>
				" href="/artikel/index">Kulit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "anak"){ %>
						active
					<% } %>
				" href="/artikel/index">Anak</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "diet"){ %>
						active
					<% } %>
				" href="/artikel/index">Diet</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "diabetes"){ %>
						active
					<% } %>
				" href="/artikel/index">Diabetes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "kecantikan"){ %>
						active
					<% } %>
				" href="/artikel/index">Kecantikan</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "kehamilan"){ %>
						active
					<% } %>
				" href="/artikel/index">Kehamilan</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "mata"){ %>
						active
					<% } %>
				" href="/artikel/index">Mata</a>
			</li>
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "fitness"){ %>
						active
					<% } %>
				" href="/artikel/index">Fitness</a>
			</li>
		</ul>
	</div>
	<div class="col-md-3 ml-auto">
		<div class="card card-plain card-form-horizontal">
			<div class="card-body">
				<form method="" action="">
					<div class="row">
						<div class="col-md-10">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Cari Artikel">
							</div>
						</div>
						<div class="col-md-2 text-center">
							<button type="submit" class="btn btn-primary btn-raised btn-fab btn-round">
								<i class="material-icons">search</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>