<!-- Nav -->
<div class="row d-flex align-items-center">
	<div class="col-md-8 d-inline-flex align-items-center">
		<ul class="nav nav-pills nav-pills-primary">
			<li class="nav-item">
				<a class="nav-link
					<% if(page === "index"){ %>
						active
					<% } %>
				" href="/artikel/index">Semua</a>
			</li>
			<% if(categories) { %>
				<% for(var i = 0; i < categories.length; i ++) { %>
					<li class="nav-item">
						<a class="nav-link
							<% if(page === categories[i].name){ %>
								active
							<% } %>
						" href="/artikel/<%= categories[i].name %>"><%= categories[i].name %></a>
					</li>
				<% } %>
			<% } %>
		</ul>
	</div>
	<div class="col-md-3 ml-auto">
		<div class="card card-plain card-form-horizontal">
			<div class="card-body">
				<form method="" action="">
					<div class="row">
						<div class="col-md-10">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Cari Artikel">
							</div>
						</div>
						<div class="col-md-2 text-center">
							<button type="submit" class="btn btn-primary btn-raised btn-fab btn-round">
								<i class="material-icons">search</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>